.main {
  padding: 2% 5%;
  width: 100vw;
}



.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  width: var(--max-width);
  max-width: 100%;
}

a.card {
  text-decoration: none;
  color: #ffb86c;
  font-family: inherit;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  max-width: 40ch;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.main::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.main::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
}

.main::before,
.main::after {
  z-index: -5;
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.description {
  font-size: var(--small-font);
  font-family: var(--font-mono);
  width: 100%;
  z-index: 2;

  color: var(--secondary-color);
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description .opaque {
  background-color: rgba(var(--callout-rgb), 1);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

.skill .description {
  padding: 0.5rem;
  width: 12ch;
}

@media not print {
  .skill:hover .description,
  .skill[data-selected="true"] .description {
    cursor: pointer;
    background: rgba(var(--callout-rgb), 1);
    border: 1px solid rgba(var(--callout-border-rgb), 1);
    text-decoration: underline;
  }
}

.skills {
  width: 35%;
  max-height: 30rem;
  overflow: auto;
}

@media print {
  .skills {
    width: 100%;
    max-height: auto;
  }
}
