.footer {
  padding: 1.5rem;
  margin-top: 3rem;
  border-top: 1px dashed var(--primary-color);
}

.siteLink {
  display: none;
}

@media print {
  .printLink {
    display: none;
  }

  .siteLink {
    display: initial;
  }
}
