.photo {
  height: 10%;
  width: 10%;
  min-height: 75px;
  min-width: 75px;
  transition: transform 0.3s ease-out;
}

.photo img {
  height: 100%;
  width: 100%;
}

@media not print {
  .photo {
    transform: rotate(10deg);
  }
}

@media (max-width: 750px) {
  .link {
    font-size: var(--small-font);
  }
}

.photo:hover {
  transform: rotate(0deg);
}
