.visitSiteLink {
  display: none;
}

@media print {
  .visitSiteLink {
    padding: 0 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .invisPrint {
    display: none !important;
  }
}
