.typed {
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

.typed:not(.finished) {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  max-width: 0;
}

.typed:not(.active) {
  animation: none !important;
}

.typed.active {
  border-right: 10px solid;
}

.active {
}

.finished {}

.fadeIn {
  animation: fadeIn 1s forwards;
}

.fadeIn:not(.finished) {
  opacity: 0;
}

.fadeIn:not(.active) {
  animation: none !important;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1 }
}

@keyframes typing {
  from { max-width: 0; }
  to { max-width: 100%; }
}

@keyframes blinking {
  0% { border-right-color: transparent; }
  50% { border-right-color: #fff; }
  100% { border-right-color: transparent; }
}
